* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 220, 235);
}

header {
    display: block;
    position: fixed; /*fija la posicion del header ante el scroll*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdbaba;
    padding: 12px; /*espacio alrededor de cada elemento*/
}

header > nav > ul > li > a {
    padding: 13px 13px;
}

header > nav> ul > li > a:hover {
    background-color: #e7d0d0;
    color: black;
  }


nav a:visited,
nav a:link {
    color: black;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;

}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    background-image: url("images/background-lineas.jpg");
    padding-top: 3em; /*em tamaño que ocupa la letra m en la pantalla, es responsive*/
    padding-bottom: 3em;
    min-height: 85%;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

#banner {
    max-width: 100%;
    max-height: 100%;
}

footer {
    padding: 15px;
    background-color: rgb(230, 230, 178);
    text-align: center;
}

aside {
    padding: 1em;
    text-align: center;
    max-width: 20%;
    height: 20%;
}

article {
    padding: 2em;
    max-width: 85%;
}

@media only screen and (min-width: 768px){
    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

.subtitle {
    background-color: burlywood;
    font-size: 1em;
    padding: 10px;
    border: solid 1px;
    margin-top: 0.5em;
}

/*----- Catalogo -----*/

.element {
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    background-color: #fdbaba;
    border: solid 1px;
}

.element > img {
    max-width: 100%;
    max-height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 0.5em;
    margin-top: 0.4em;  
}

.element-information > .title {
    font-weight: bold;
}

.element-information > .price {
    text-align: right;
}

.element-information {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.element button {
    background-color: cornsilk;
    padding: 10px;
    border: solid 1px cornsilk;
    border-radius: 5px;
    margin-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columns-desktop {
    display: flex;
}